# Base de datos Neon
DATABASE_URL=postgresql://neondb_owner:npg_fl9um6BdpGDF@ep-billowing-firefly-aq9gqpex-pooler.c-8.us-east-1.aws.neon.tech/neondb?sslmode=require
DIRECT_URL=postgresql://neondb_owner:npg_fl9um6BdpGDF@ep-billowing-firefly-aq9gqpex-pooler.c-8.us-east-1.aws.neon.tech/neondb?sslmode=require

# Auth
NEXTAUTH_SECRET=Websoft
NEXTAUTH_URL=https://pos.websoftsolutions.com.gt

# Cloudinary
CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_UPLOAD_PRESET=ws-pos-upload

# Stripe
STRIPE_SECRET_KEY=sk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...

# URLs
NEXT_PUBLIC_POS_URL=https://pos.websoftsolutions.com.gt
NEXT_PUBLIC_LANDING_URL=https://websoftsolutions.com.gt
